* {
    margin: 0;
    padding: 0;

}

body {
    background-color: beige;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background-color: rgb(150, 221, 217);
}

#buttonCollection {
    display: flex;
    gap: 10vw;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.result-container {
    text-align: center;
    margin-top: 20vh;
    font-size: 20px;
    color: #333;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #594c4c;
    padding: 20px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

}